* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2 {
    margin: 0 5%;
}

/*header*/

nav {
    display: flex;
    width: 100%;
    align-items: center;
}

.choose {
    display: flex;
    padding: 20px 20px;
}

.choose input {
    display: none;
}

#nav {
    font-size: 1rem;
}

#check {
    display: none;
}

#nav .nav_choose {
    display: inline-block;
    position: relative;
    padding: 0 13px;
    font-size: 1rem;
}

#nav .nav_choose .title-list-film {
    display: none;
    width: 700px;
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    padding: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: translateX(-8%);
    z-index: 1;
}

.search_login .click-user {
    display: none;
}

#nav .nav_choose .title-list-film .title-subnav {
    padding-top: 10px;
    transition: 0.5s;
    display: flex;
}

#nav .nav_choose .title-list-film .title-subnav span {
    border-left: 5px solid orange;
    padding-right: 5px;
}

#nav .nav_choose .title-list-film .title-subnav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-weight: lighter;
    transition: 0.3s;
}

#nav .nav_choose .title-list-film .title-subnav a:hover {
    color: orange;
    transition: 0.3s;
}

#nav .nav_choose .title-list-film ul.subnav-video {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nav .nav_choose .title-list-film ul.subnav-video li {
    padding: 15px 0;
    transition: 0.5s;
}

#nav .nav_choose .title-list-film ul.subnav-video a {
    display: block;
}

#nav .nav_choose .title-list-film ul.subnav-video img {
    height: auto;
    max-width: 150px;
}

#nav .nav_choose .title-list-film ul.subnav-video li:hover {
    filter: brightness(60%);
    transition: 0.5s;
}

#nav .nav_choose .subnav {
    list-style-type: none;
}

#nav .nav_choose .subnav li a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

#nav .nav_choose .subnav li:hover a {
    color: orange;
}

@media (min-width: 1201px) {

    #nav .nav_choose .subnav {
        display: none;
        min-width: 160px;
        position: absolute;
        list-style-type: none;
        background-color: #fff;
        padding: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        transform: translateX(-18%);
        z-index: 1;
    }

    #nav .nav_choose .subnav li {
        display: block;
        line-height: 30px;
        padding: 0 20px;
        text-align: center;
    }

    #nav .nav_choose:hover .title-list-film {
        display: block;
    }

    #nav .nav_choose:hover .subnav {
        display: block;
        color: black;
    }

    #nav .nav_choose:hover {
        color: orange;
        cursor: pointer;
    }

    #nav .nav_choose .subnav li:hover {
        color: orange;
        border-left: 4px solid orange;
        transition: 0.2s;
        background-color: #fee7d9;
    }

}

.nav-right {
    margin-left: auto;
}

.search_login {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.search_login .search i {
    cursor: pointer;
    color: #777777;
}

#write_input {
    width: 200px; /* Kích thước mặc định */
    transition: width 0.5s ease; /* Hiệu ứng chuyển đổi mượt mà */
    border: none; /* Xóa viền */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* Hiệu ứng box shadow */
    outline: none;
    border-radius: 20px;
    position: absolute;
    right: 17%;
    padding-left: 20px;
}

#write_input:focus {
    width: 450px; /* Kích thước khi được chọn */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* Hiệu ứng box shadow */
}

.search_login #click-login {
    text-decoration: none;
    color: #93877f;
    margin: 0 20px;
    white-space: nowrap;
}

.search_login #click-login:hover {
    color: orange;
}

.open-menu, .close-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

html, body {
    height: 100%;
    margin: 0;
}

.my-element {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* 100% chiều ngang của viewport */
    height: 100vh; /* 100% chiều cao của viewport */
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen trong suốt (độ trong suốt 50%) */
    z-index: 1;
    display: none;
}

.open-menu {
    top: 40px;
    right: 80px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

.left {
    width: 250px;
    height: 150px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: lightgrey;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
}

.menu {
    display: none;
}



@media (max-width: 1200px) {
    #nav .nav_choose {
        display: none;
    }

    #nav .buy-img {
        display: none;
    }

    .click-search {
        display: none;
    }

    .search_login .click-user {
        display: block;
        transform: scale(1.3);
        cursor: pointer;
    }

    .search_login #click-login {
        margin: 0 10px;
    }

    .search_login .search-login {
        cursor: pointer;
    }

    .search-login:hover #click-login {
        color: orange;
    }

    .search_login .search-login {
        position: absolute;
        top: 40px;
        right: 120px;
        transform: translateY(-50%);
    }

    .search {
        display: none;
    }

    .click-img {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

    .img-responsive {
        display: block;
        text-align: center;
    }

    .open-menu, .close-menu {
        display: block;
    }

    .menu .nav_choose {
        position: relative;
        top: 80px;
    }

    .menu .nav_choose .subnav li {
        margin: 10px 0;
    }

    .search-input {
        display: flex;
        margin-bottom: 20px;
        width: 100%;
        padding: 0 30px;
    }

    .search-input .form-search {
        display: block;
        width: 100%;
        height: 40px;
        border-radius: 10px;
        padding-left: 35px;
        border: 1px solid #e1e1e1;
    }

    .search-input .form-search:focus {
        outline: 1px solid #363949;

    }

    .search-input .search-button {
        color: #6e6c6c;
        margin-left: -98%;
        transform: translateY(10px);
    }

    .menu.active {
        right: 0; /* Hiển thị menu khi checked */
    }

    .my-element.active {
        display: block;
    }

    .nav_choose {
        margin-bottom: 10px;
    }

    .name-list {
        cursor: pointer;
    }

    .left {
        width: 80%;
        height: 140px;
        overflow-y: scroll;
    }

    .left li a {
        white-space: nowrap;
    }

    .menu-list-right {
        padding: 0 30px;
        margin-top: 20px;
    }

    .menu-list-right div{
        margin-bottom: 5px;
    }

    .dropdown-list-right {
        display: none;
    }

    .dropdown-list-right.active {
        display: block;
    }

    .dropdown-list-right li {
        list-style-type: none;
        width: fit-content;
        margin-bottom: 10px;
    }

    .dropdown-list-right li a {
        text-decoration: none;
        color: black;
    }

    .dropdown-list-right li a:focus {
        color: orange;
    }

}

/*header*/