@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

nav {
    display: flex;
    width: 100%;
    align-items: center;
}

.choose {
    display: flex;
    padding: 20px 70px;
}

.choose input {
    display: none;
}

#nav {
    font-size: 13px;
}

#check {
    display: none;
}

#nav .nav_choose {
    display: inline-block;
    position: relative;
    padding: 0 15px;
    font-size: 14px;
}

.nav_choose .search-input {
    display: none;
}

#nav .nav_choose .title-list-film {
    display: none;
    width: 700px;
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    padding: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: translateX(-8%);
    z-index: 1;
}

#nav .nav_choose .title-list-film .title-subnav {
    padding-top: 10px;
    transition: 0.5s;
}

#nav .nav_choose .title-list-film .title-subnav span {
    border-left: 5px solid orange;
    padding-right: 5px;
}

#nav .nav_choose .title-list-film .title-subnav a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: lighter;
    transition: 0.3s;
}

#nav .nav_choose .title-list-film .title-subnav a:hover {
    color: orange;
    transition: 0.3s;
}

#nav .nav_choose .title-list-film ul.subnav-video {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nav .nav_choose .title-list-film ul.subnav-video li {
    padding: 15px 0;
    transition: 0.5s;
}

#nav .nav_choose .title-list-film ul.subnav-video a {
    display: block;
}

#nav .nav_choose .title-list-film ul.subnav-video img {
    height: auto;
    max-width: 150px;
}

#nav .nav_choose .title-list-film ul.subnav-video li:hover {
    filter: brightness(60%);
    transition: 0.5s;
}

#nav .nav_choose .subnav {
    list-style-type: none;
}

#nav .nav_choose .subnav li a {
    text-decoration: none;
    color: black;
}

#nav .nav_choose .subnav li:hover a {
    color: orange;
}

#nav .nav_choose .option {
    display: none;
}

#nav .nav_choose .dropdown-film:hover a {
    color: orange;
}

@media(min-width: 1200px) {

    #nav .nav_choose {
        cursor: pointer;
    }

    #nav .nav_choose .subnav {
        display: none;
        min-width: 160px;
        position: absolute;
        list-style-type: none;
        background-color: #fff;
        padding: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        transform: translateX(-18%);
        z-index: 1;
    }

    #nav .nav_choose .subnav li {
        display: block;
        line-height: 30px;
        padding: 0 20px;
        text-align: center;
    }

    #nav .nav_choose:hover .title-list-film {
        display: block;
    }

    #nav .nav_choose:hover .subnav {
        display: block;
        color: black;
    }

    #nav .nav_choose:hover {
        color: orange;
    }

    #nav .nav_choose .subnav li:hover {
        color: orange;
        border-left: 4px solid orange;
        transition: 0.2s;
        background-color: #fee7d9;
    }

}

.search_login {
    font-size: 13px;
    padding: 0 0 12px 180px;
    display: flex;
}

.search_login .search i {
    cursor: pointer;
    color: #777777;
}

#write_input {
    width: 200px; /* Kích thước mặc định */
    transition: width 0.5s ease; /* Hiệu ứng chuyển đổi mượt mà */
    padding: 2px;
    border: none; /* Xóa viền */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* Hiệu ứng box shadow */
    outline: none;
    border-radius: 20px;
    display: none;
    position: absolute;
    right: 15%;
}

#write_input:focus {
    width: 450px; /* Kích thước khi được chọn */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* Hiệu ứng box shadow */
}

.search_login #click-login {
    text-decoration: none;
    color: #93877f;
    margin-left: 20px;
}

.search_login #click-login:hover {
    color: orange;
}

.open-menu, .close-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

html, body {
    height: 100%;
    margin: 0;
}

.my-element {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* 100% chiều ngang của viewport */
    height: 100vh; /* 100% chiều cao của viewport */
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen trong suốt (độ trong suốt 50%) */
    z-index: 1;
    display: none;
}

.open-menu {
    top: 40px;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

@media(max-width: 1200px) {
    #nav .buy-img {
        display: none;
    }

    #nav .nav_choose .option {
        display: block;
    }

    #nav .nav_choose .option li {
        margin: 10px 0;
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

    .open-menu, .close-menu {
        display: block;
    }

    header {
        width: 60%;
    }

    .menu .nav_choose {
        position: relative;
        top: 80px;
    }

    .menu .nav_choose .subnav li {
        margin: 10px 0;
    }

    .nav_choose .search-input {
        display: block;
    }

    .search-input .form-search {
        display: block;
        width: 100%;
        border-radius: 10px;
        padding: 10px 30px;
        border: 1px solid #e1e1e1;
    }

    .search-input{
        position: relative;
    }

    .search-button {
        position: absolute;
        top: 50%;
        right: 93%;
        transform: translateY(-50%);
        z-index: 2;
    }

    #check:checked ~ .menu {
        right: 0;
    }

    .dropdown-film {
        list-style-type: none;
    }

    .dropdown-film a {
        text-decoration: none;
        color: black;
    }
}

/*header*/

/*sildeShow*/

.body-slide-show {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.slide-show {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.list-iamges {
    display: flex;
    transition: 0.8s;
}

.list-iamges img {
    height: auto;
    width: 100%;
}

.btn2{
    font-size: 60px;
    color: #999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    cursor: pointer;
}

.btn2:hover {
    color: white;
}

.btn-left {
    left: 0;
}

.btn-right {
    right: 0;
}

/*sildeShow*/

/*list*/

.title-list .title {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.title-list .title li {
    margin-right: 4%;
    display: inline-block;
    position: relative;
}

.title span {
    border-left: 4px solid #034ea2;
    margin-right: 5px;
    height: 20px;
    transform: translateY(5px);
}

.title-list .title .title-line {
    cursor: pointer;
}

.title-list .title .title-line:hover {
    color: #166bae;
}

.title-list .title-line.active {
    color: #034fa2;
}

.title-list .title .title-line::after {
    content: '';
    height: 1px;
    width: 0;
    background: #034ea2;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.4s;
}

.title-list .title-line.active::after {
    width: 100%;
}

ul.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

ul.videos li {
    flex-basis: 25%;
    padding-right: 30px;
    margin-bottom: 20px;
}

ul.videos li img {
    max-width: 100%;
    height: auto;
    border-radius: 9px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

ul.videos li .video-top {
    position: relative;
    overflow: hidden;
}

ul.videos li .video-top .video-thumb {
    display: block;
}

ul.videos li .video-top .list-btn {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

ul.videos li .video-top:hover .list-btn {
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    z-index: 0;
}

ul.videos li .video-top .list-btn a {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 5px;
}

ul.videos li .video-top .list-btn .trailer-click {
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: lighter;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 5px;
}

ul.videos li .video-top:hover .list-btn a.buy-click {
    background-color: #f58020;
}

ul.videos li .video-top:hover .list-btn .trailer-click {
    border: 1px solid white;
}

ul.videos li .video-top:hover .list-btn .trailer-click:hover {
    background-color: orange;
    border: 1px solid orange;
}

ul.videos li .video-top:hover .list-btn a.buy-click:hover {
    background-color: orange;
}

ul.videos li .video-top:hover .video-thumb img {
    filter: brightness(60%);
    transition: 0.5s;
}

ul.videos li .video-info {
    padding: 8px 0;
}

ul.videos li .video-info .video-name {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bolder;
}

/*list*/

/*footer*/

footer {
    min-height: 50vh;
    width: 100%;
    background-color: #333333;
}

.text-footer {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 0px 0px;
}

.text-footer h3 {
    font-size: 15px;
    color: #ebf5fc;
}

.text-footer-big h3 {
    margin-bottom: 25px;
}

.text-footer-small {
    list-style-type: none;
    padding-left: 0;
}

.text-footer-small li {
    padding-bottom: 16px;
}

.text-footer-small li a {
    text-decoration: none;
    color: #c9c9c0;
    font-size: 14px;
}

.list-icon-footer {
    display: flex;
}

.list-icon-footer .icon-footer {
    width: 40px;
    padding: 0;
}

.list-icon-footer li i {
    display: block;
    font-size: 30px;
    text-align: center;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.list-icon-footer li i:hover {
    transform: scale(1.2);
}

.text-footer-small li a:hover {
    color: #f58020;
}

.Footer_footer_bottom {
    border-top: 1px solid white;
}

.Footer_footer_bottom .footer_bottom {
    padding: 20px 0;
}

.Footer_footer_bottom .footer_bottom h3 {
    font-size: 16px;
    color: #cfd0d0;
    font-weight: normal;
    margin: 0;
}

.Footer_footer_bottom .footer_bottom p {
    font-size: 14px;
    color: #8d8d8d;
    margin: 0;
}

/*footer*/