* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.my-element {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* 100% chiều ngang của viewport */
    height: 100vh; /* 100% chiều cao của viewport */
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen trong suốt (độ trong suốt 50%) */
    display: none;
}

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #181818;
    padding: 12px 20px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    transition: 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.open-menu, .close-menu {
    position: absolute;
    color: #FFF;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

@media (max-width:1000px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #181818;
        transition: all 0.3s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu, .close-menu {
        display: block;
    }

    #check:checked ~ .menu {
        right: 0;
    }

}